# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment folder
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE or editor-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs and database files
*.log
*.sqlite
*.db
